/* Navigation styles */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem 2rem;
    box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%), 0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.nav .logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: url('https://i.postimg.cc/Fz2hR18L/pavan-logo.png') no-repeat center/cover;
}

.nav h {
    margin: 0;
    font-size: 1.2rem;
    color: #666;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 1rem;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #007bff;
}

body.dark-mode .nav {
    background-color: #333;
    color: #e0e0e0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

body.dark-mode .nav .logo {
    background: url('https://i.postimg.cc/Fz2hR18L/pavan-logo.png') no-repeat center/cover;
}
body.dark-mode h,body.dark-mode h1,body.dark-mode h2,body.dark-mode h3{
    color: #e0e0e0;
}
body.dark-mode .nav-links a {
    color: #e0e0e0;
}

body.dark-mode .nav-links a:hover {
    color: #4a98f7;
}